node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

# Frontend build/cache
client/dist
.cache
.prisma-engines
.npm-cache
